* {
    margin-bottom:20px;
    margin-bottom:15px;
    margin-bottom:15px;
    margin-bottom:10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    color: azure;
    background-color: black;
}
header {
    text-align: center;
    margin-top: 240px;
    font-size: 25px;
}
main {
    text-align: center;
    margin-top: 70px;
}
ul, a {
    text-decoration: none;
    list-style: none;
    color: azure;
}
li {
    margin-left: 45%;
    text-align: center;
    width: 110px;
    padding: 5px;
    border: solid white 1px;
    border-radius: 10px;
    margin-top: 25px;
}
li:hover {
    transform: scale(1.5,1.5);
}
